@font-face {
  font-family: "Circular";
  src: url("../fonts/lineto-circular-black.woff") format("woff");
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: "Circular";
  src: url("../fonts/lineto-circular-pro-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Circular";
  src: url("../fonts/lineto-circular-pro-book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  width: 100%;
  height: auto;
  font-family: "Circular", Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style-type:none;
  padding-inline-start: 0;
}

/** FONTS ------------------------------------ */
.nav-font {
  font: bold 16px/150% 'Circular', sans-serif;
}

/** Navbar ---------------------------------- */
header {
  height: 54px;
  top: 0;
  right: 0;
  left: 0;
  background-color: #000;
  z-index: 1;
}

header .content {
  height: 100%;
}

.logo-wrapper a {
  display: inline-block;
  height: 40px;
  width: 132px;
  color: white;
  margin-top: 10px;
}

.logo-wrapper a svg {
  fill: #fff;
  overflow: hidden;
}

.top-nav li {
  display: inline-block;
}

.top-nav li a {
  padding: 28px 17px;
  color: #fff;
  text-decoration: none;
}

.top-nav li a:hover {
  color: #1ed760;
}

.separator {
  display: inline-block;
  background: currentColor;
  height: 16px;
  width: 1px;
  color: #fff;
  margin: auto 17px;
}

@media (min-width: 480px) {
  .logo-wrapper a {
    width: 89px;
    height: 27px;
  }
}

/* footer ----------------------------------------------------------------------------- */
footer {
  padding-top: 80px;
  padding-bottom: 50px;
  background: #000;
  font-weight: normal;
  min-height: 537px;
  background: #999;
  padding-top: 300px;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #1DB954;
}

footer nav {
  padding: 0 82.5px;
}

.fl-title {
  color: #919496;
  font-size: 12px;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: .08em;
  text-transform: uppercase;
}

.footer-logo {
  width: 132px;
}

.fc-img {
  height: 18px;
  margin-left: auto;
}

.f-bottom-links {
  align-items: center;
  font-weight: normal;
  color: #919496;
}

.fc-text {
  font-size: 12px;
  color: #919496;
}

.fbl-text {
  font-size: 12px;
  color: #919496;
}

.fb-date {
  font-size: 12px;
}
